configuration {
    font:                "Noto Sans Regular 10";
    show-icons:          true;
    icon-theme:          "Qogir";
    display-drun:        "Apps";
    drun-display-format: "{name}";
    scroll-method:       0;
    disable-history:     false;
    sidebar-mode:        false;
}

@theme "catppuccin-machiato"
